<h2>Invoice Details</h2>
<div class="border" *ngIf="invoice">
  <div>
    <label>ID:</label> {{ invoice.id }} <br>
  </div>
  <div>
    <label>Invoice ID:</label> {{ invoice.number }} <br>
  </div>
  <div>
    <label>Customer Name:</label>
    <input type="text" [(ngModel)]="invoice.customer_name"> <br>
  </div>
  <div>
    <label>Reference:</label>
    <input type="text" [(ngModel)]="invoice.reference"> <br>
  </div>
  <div class="action">
    <button type="submit" (click)="updateInvoice()">Save</button>
    <button type="button" (click)="goBack()">Back</button>
  </div>
</div>
