.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    width:20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    margin-bottom: 8px;
    color: white;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  button[type="action_view"] {
    width:45%;
    background-color: #04AA6D;
    color: white;
  }
  
  button[type="action_view"]:hover {
    background-color: #e7e7e7;
  }

  button[type="action_delete"] {
    width:45%;
    background-color: #f44336;
    color: white;
  }
  
  button[type="action_delete"]:hover {
    background-color: #e7e7e7;
  }
  
  .action{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }