<div class="container">
    <h2>Invoice List</h2>
    <button type="submit" (click)="navigateToCreate()">
      Create New
    </button>
    
    <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices">
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.date }}</td>
            <td>{{ invoice.customer_name }}</td>
            <td class="action">
              <button type="action_view" (click)="viewDetail(invoice.id)">View</button>
              <button type="action_delete" (click)="deleteInvoice(invoice.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  